.blog {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  column-gap: 143px; */
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  justify-content: space-between;
  margin-bottom: 100px;
}

.blog-item {
  display: flex;
  gap: 30px;
  width: 45%;  
}

.blog-item__image {
  border-radius: 20px;
  display: block;
}

.blog-item__content {
  display: flex;
  width: 60%;
  flex-direction: column;
  color: var(--add-color);
  font-size: 16px;
  padding-right: 10px;
}

.blog-item__title {
  font-size: 32px;    
  color: var(--main-color);
  margin-bottom: 13px;
  padding-top: 13px;  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.blog-item__date {
  margin-bottom: 39px;
}

.blog-item__info {
  margin-bottom: 0;
  margin-top: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
}

.arrow {
  width: 37px;
  height: 37px;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;  
  background-color: var(--add-color);  
  mask-image: url("data:image/svg+xml,%3Csvg width='29' height='19' viewBox='0 0 29 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.375 7.95833H6.52958L12.0487 2.42375L9.875 0.25L0.625 9.5L9.875 18.75L12.0487 16.5763L6.52958 11.0417H28.375V7.95833Z' fill='%238F8F8F'/%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='29' height='19' viewBox='0 0 29 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.375 7.95833H6.52958L12.0487 2.42375L9.875 0.25L0.625 9.5L9.875 18.75L12.0487 16.5763L6.52958 11.0417H28.375V7.95833Z' fill='%238F8F8F'/%3E%3C/svg%3E");
  transition: background-color 0.1s ease
}

.arrow:active,
.arrow:hover {
  background-color: var(--active-color);
}

.arrow_right {  
  transform: rotate(180deg);
}
.pagination-group {
  display: flex;
  gap: 6px;
  width: 120px;
  overflow: hidden;
}

.pagination__page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 2px solid var(--main-color);
  border-radius: 6px;    
  flex-shrink: 0;
}

.pagination__page:hover,
.pagination__page:active {
  color: var(--active-color);
  border: 2px solid var(--active-color);
  transition: color 0.1s ease, border 0.1s ease;
}

@media(max-width: 1600px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media(max-width: 1400px) {
  .blog {
    column-gap: 10px;
  }
  .blog-item {
    width: 48%;
  }
}

@media(max-width: 1250px) {
  .blog-item {
    width: 100%;
  }
  .blog-item__content {  
    width: 80%;
  }
}

@media(max-width: 1000px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
  }
}

@media(max-width: 700px) {
  .blog-item {
    flex-direction: column;
    gap: 10px;
  }
  .blog-item__image {
    height: 200px;
    width: 200px;
  }
  .blog-item__content {
    width: 100%;
  }
  .blog-item__title {
    font-size: 26px;
  }
}